// DAUB COLOR
$black:       #1b2733;
$dark-gray:   #363636;
$gray:        #727272;
$light-gray:  #c1c7cd;
$smoke:       #b7b7b7;
$white:       #FFFFFF;

/* TEXT COLORS */
$t-black:     $black;
$t-light:     $light-gray;
$t-dark-gray: $dark-gray;
$t-gray:      $gray;
$t-red:       #d1283e;
$t-white:     $white;
$caution:     $t-red;
$t-holiday:   #be0d34;
$sgray:       #808080;
$notes:       #b1b0ae;
