// DAUB COLOR
$black:       #1b2733;
$dark-gray:   #363636;
$gray:        #727272;
$light-gray:  #e2e2e2;
$smoke:       #b7b7b7;
$white:       #FFFFFF;

/* TEXT COLORS */
$t-black:     $black;
$t-light:     #bdbdbd;
$t-dark-gray: $dark-gray;
$t-gray:      $gray;
$t-red:       #d1283e;
$t-white:     $white;
$sgray:       #808080;
$notes:       #b1b0ae;

/* BACKGROUND COLORS */
$primary-indigo:      #009688;
$primary-indigo-past: #80CBC4;
$primary-indigo-over: #26A69A;
$indigo-darker:       #00897B;
$indigo-lighter:      #E0F2F1;
$caution:             #F44336;
$caution-over:        #FF5252;
$ligh-gray-line:      #FAFAFA;

// $primary-indigo:  #FFCA28;
// $indigo-darker:   #FF8F00;
// $indigo-lighter:  #FFF8E1;
