body { height:100%; }
header,footer { height:0; }
header {
  .btn-google {
    float: right;
    margin: 25px 30px 25px 0;
  }
}
#root, .window, .window-content{ height: 100%; }
.wrapper#task-board {
  height:100%;
  .container-fluid, .row, #calendar-viewport, #task-viewport { height: 100%; }
}

@import "layouts/task-viewport";
@import "layouts/timeline-viewport";
@import "layouts/calendar-viewport";
