#calendar-viewport {
  //background-color: $indigo-darker;
  div.dayname:first-child {
    margin-top: 100px;
  }
  div.dayname {
    line-height: 1.1;
    font-size: $font-medium;
    margin: 10px 0;
  }
  div.task-count {
    float: right;
    background-color: $primary-indigo;
    height: 20px;
    border-radius: 12px;
    margin-top: 14px;
    display: inline-block;
    span {
      display: table-cell;
      vertical-align: middle;
      line-height: 21px;
      text-align: center;
      padding: 0 9px;
    }
  }
  div.more {
    content: " ";
    height: 26px;
    width: 29px;
    text-align: center;
    margin: 0 auto;
  }
  div.up {
    background: url("../../images/arrow_up.png") no-repeat center center;
    background-size: 27px 7px;
  }
  div.down {
    background: url("../../images/arrow_down.png") no-repeat center center;
    background-size: 27px 7px;
  }
}
