#task-viewport {
  padding: 60px 30px;
  outline: none;
  .editor-area {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  ul.task-line {
    pointer-events: none;
    font-size: $font-medium;
    li {
      margin-left: 20px;
      div { pointer-events: none }
    }
    li::before {
      content: ' ';
      display: inline-block;
      float: left;
      margin: 1px 10px 0 -20px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      pointer-events: auto;
      background-image: url("../../images/not_done.png");
    }
    li.done::before {
      background-image: url("../../images/done.png");
    }
    li.done div {
      text-decoration: line-through;
      color: $t-black;
    }
  }
  .ace-line {
    pointer-events: none;
    color: $t-black;
    line-height: 1.1;
    font-size: $font-medium;
    padding: 5px 0;
    margin-left: 20px;
  }
  div.ace-line:first-child {
    font-size: $font-large;
    color: $t-black;
    margin: 20px 0 40px;
    font-weight: 500;
    line-height: 1.1;
  }
  div.ace-line:empty:before {
    color: $light-gray;
    content: attr(data-placeholder);
    margin-left: 5px;
  }
  div.task-viewport-buttons {
    margin-top: 40px;
    width: 100%;
    bottom: 0;
    div {
      font-size: $font-small;
      width: 50%;
      float: left;
      cursor: pointer;
      &.yesterday {}
      &.tomorrow { text-align: right }
    }
  }
  div.separator-line {
    margin-bottom: 15px;
    span.separator {
      width: 100%;
      height: 1px;
      font-size: 1px;
      line-height: 16px;
      border-bottom: 1px solid #c1c7cd;
      display: inline-block;
    }
  }
}
