#timeline-viewport {
  margin-top: 80px;
  padding: 0 0 0 70px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
  table { table-layout: fixed }
  table tbody {
    tr td.tv-marker {
      position: absolute;
      width: 100%;
      .markercell {
        width: 60%;
        height: 25px;
        font-size: 1px;
      }
      .marker-border {
        border-bottom: 1px dotted #efefef;
        border-top: 1px solid #efefef;
      }
    }
    tr td.tv-time {
      padding-right: 10px;
      position: relative;
      vertical-align: top;
      .time {
        color: $t-light;
        text-align: right;
        height: 50px;
        font-size: $font-small;
      }
    }
    tr td.tv-task {
      width: 100%;
      .task {
        cursor: move;
        position: absolute;
        left: -1px;
        width: 55%;
        height: 50px;
        background-color: $primary-indigo;
        color: #FFF;
        border-bottom: 2px solid $white;
        &.done {
          background-color: $indigo-lighter;
          color: #777777;
          span { font-weight: 400 }
        }
        &.alert {
          top:575px;
          background-color:$caution;
          border-radius: 0px;
          padding: 0px;
        }
        span {
          display: block;
          padding: 5px 0 0 5px;
          font-size: $font-small;
          font-weight: 600;
        }
      }
      .nowmarker {
        position: absolute;
        left: 0;
        width: 400px;
        top: 320px;
        height: 0;
        border-top: 2px solid #ff7f6e;
        overflow: hidden;
      }
    }
  }
}
