#timeline-viewport {
  margin-top: 115px;
  padding: 0 0 0 70px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
  table { table-layout: fixed }
  table tbody {
    tr td.tv-marker {
      position: absolute;
      width: 100%;
      .markercell {
        width: 70%;
        height: 25px;
        font-size: 1px;
      }
      .marker-border {
        border-top: 1px solid #efefef;
      }
    }
    tr td.tv-time {
      padding-right: 10px;
      position: relative;
      vertical-align: top;
      .time {
        width: 35px;
        color: $t-gray;
        text-align: right;
        height: 50px;
        font-size: $font-xsmall;
      }
      .dragTargetTime {
        width: 35px;
        color: $primary-indigo;
        text-align: right;
        height: 50px;
        font-size: $font-xsmall;
        position: absolute;
      }
    }
    tr td.tv-task {
      width: 100%;
      .task {
        cursor: move;
        position: absolute;
        left: -1px;
        width: 55%;
        height: 50px;
        background-color: $primary-indigo;
        color: #FFF;
        border: 1px solid $white;
        border-radius: 3px;
        &.past { background-color: $primary-indigo-past }
        &:hover { background-color: $primary-indigo-over }
        &.done {
          background-color: $indigo-lighter;
          color: #777777;
          span { font-weight: 400 }
        }
        &.alert {
          top:575px;
          background-color:$caution;
          border-radius: 0px;
          padding: 0px;
          &:hover { background-color: $caution-over }
        }
        span {
          display: block;
          padding: 5px 0 0 5px;
          font-size: $font-small;
          font-weight: 600;
        }
        div.resizer {
          height: 10px;
          font-size: 20px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 6px;
          margin: auto;
          width: 100%;
          text-align: center;
          cursor: ns-resize;
          opacity: 0;
          &:hover { opacity: 1}
        }
      }
      .nowmarker {
        position: absolute;
        left: 0;
        width: 60%;
        top: 320px;
        height: 0;
        border-top: 2px solid #ff7f6e;
        overflow: hidden;
      }
    }
  }
}
